*, *::before, *::after {
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 22px;
	color: #fff;
	font-family: 'Roboto', 'Arial', sans-serif;
	background-color: #849d8f;
}
.visually_hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	text-decoration: none;
	cursor: pointer;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	border-radius: 50px;
	padding: 9px 22px;
	box-shadow: 0 2px 2px rgba(172, 16,0, 0.64);
	background: #f26843;
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	color: #fff;
}
.button:hover {
	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.button:active {
	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

/*Navigation*/

.container {
	width: 1146px;
	margin: 0 auto;
}
.main_navigation {
	padding-top: 10px;
	display: flex;
}
.site_navigation {
	display: flex;
	align-items: center;
	list-style: none;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
}
.site_navigation li {
	align-items: center;
	padding-right: 25px;
}
.site_navigation a {
	text-decoration: none;
	border-bottom: 1px solid #a1b5a9;
	color: #fff;
}
.site_navigation a:hover {
	color: #ffbc9e;
}
.site_navigation_menu {
	display: none;
}
.user_navigation {
	display: flex;
	margin-left: auto;
	list-style: none;
}
.user_navigation li {
	padding-left: 10px;
}
.user_navigation button {
	font-size: 14px;
	line-height: 16px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	color: #fff;
	fill: #fff;
	background-color: rgba(255, 255, 255, 0.2);
}
.user_navigation button:hover,
.user_navigation button:focus{
	fill: #000;
	color: #000;
}
.navigation_button {
	padding: 8px 16px;
	display: inline-flex;
	align-items: center;
}
.navigation_button svg {
	margin-right: 5px;
}
.button_search {
	padding: 8px 8px;
}
.button_search svg {
	margin: 0;
}
.site_search {
	display: none;
}
.site_registration {
	display: none;
}

/*Slider*/

.site_wrapper {
	min-width: 940px;
	background-repeat: no-repeat;
	background-position: top center;
	transition: background-image 0.5s, background-color 0.5s;
}
.slider {
	position: relative;
	text-align: center;
	padding-top: 310px;
}
.slider_controls {
	position: absolute;
	left: 0;
	bottom: 10%;
	z-index: 20;
	font-size: 0px;
}
.slider_controls label {
	display: inline-block;
	width: 22px;
	height: 22px;
	border: 2px solid #fff;
	border-radius: 50px;
	background-color: transparent;
	margin-right: 8px;
	cursor: pointer;
}
.slider_item {
	padding-bottom: 40px;
}
.slider_item a {
	cursor: pointer;
}
.slider_list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.slide {
	display: none;
}
#product_1:checked ~ .site_wrapper #slide1,
#product_2:checked ~ .site_wrapper #slide2,
#product_3:checked ~ .site_wrapper #slide3 {
	display: block;
}
#product_1:checked ~ .site_wrapper label[for="product_1"],
#product_2:checked ~ .site_wrapper label[for="product_2"],
#product_3:checked ~ .site_wrapper label[for="product_3"] {
	background-color: #fff;
}
#product_1:checked ~ .site_wrapper {
	background-color: #849d8f;
	background-image: url(../img/ice_bg_1.png);
}
#product_2:checked ~ .site_wrapper {
	background-color: #8996a6;
	background-image: url(../img/ice_bg_2.png);
}
#product_3:checked ~ .site_wrapper {
	background-color: #9d8b84;
	background-image: url(../img/ice_bg_3.png);
}
.site_wrapper::before,
.site_wrapper::after {
	content: "";
	visibility: hidden;
}
.site_wrapper::before {
	background-image: url(../img/ice_bg_2.png);
}
.site_wrapper::after {
	background-image: url(../img/ice_bg_3.png);
}
.slide_title {
	width: 700px;
	font-size: 60px;
	font-weight: 700;
	line-height: 60px;
	margin: 0 auto;
	margin-bottom: 25px;
}
.slide_button {
	font-size: 35px;
	line-height: 44px;
	padding: 15px 35px;
}
.slide_button:hover {
	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.slide_button:active {
	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

/*Sell*/

.sell {
	display: flex;
	justify-content: space-between;
}
.sell article {
	position: relative;
	width: 560px;
	height: 230px;
	padding: 25px 20px;
}
.sell article h2 {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
	margin: 0;
	color: #fff;
}
.sell article p {
	font-size: 18px;
	font-weight: 700;
	margin-top: 15px;
	color: #fff;
}
.sell article a {
	position: absolute;
	right: 4%;
	bottom: 9%;
}
.raspberries {
	background-image: url(../img/raspberries.jpg);
}
.choco {
	background-image: url(../img/choco.jpg);
}
.hit ul {
	margin: 40px 0 30px 0;
}
.hit li {
	padding: 0;
}

/*Info*/

.info {
	background-image: url(../img/wafer-background.jpg);
	background-repeat: no-repeat;
	padding: 25px 20px;
	color: #323232;
}
.info_title {
	margin: 0;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}
.info_list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}
.info_list li {
	list-style: none;
}
.info_list_item {
	display: flex;
	padding: 10px 25px 0 0;
}
.info_list_item span {
	padding: 12px 0 0 9px;
	width: 475px;
}

/*News*/

.blog {
	margin: 40px 0;
	display: flex;
	justify-content: space-between;
}
.news {
	width: 560px;
	height: 220px;
	padding: 25px 20px;
	background-image: url(../img/strawberry-background.jpg);
	background-repeat: no-repeat;
}
.news h2 {
	margin: 0;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #323232;
}
.news a {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #323232;
}
.subscription {
	width: 560px;
	height: 220px;
	padding: 30px 20px;
	background-image: url(../img/substrate.png);
	background-repeat: no-repeat;
}
.subscription p {
	color: #5a5a5a;
}
.subscription button {
	font-size: 18px;
	font-weight: 700;
	border: none;
	color: #fff;
	background-color: #e94f38;
}
.subscription input {
	width: 370px;
	padding: 11px;
	border-radius: 5px;
	border: none;
	border: 1px solid #d3d3d2;
}

/*Map*/

.map {
	position: relative;
}
.address {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 18%;
	right: 2%;
	width: 305px;
	border-radius: 10px;
	padding: 10px 20px 0 20px;
	background-color: #fff;
}
.address h2,
.address p {
	margin: 0;
	color: #000;
}
.address_title {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}
.address_text {
	font-size: 14px;
	font-weight: 400;
}
.address_text span {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}
.address_button {
	text-align: center;
	margin: 25px 0;
}

/*Catalog*/

.nav_basket {
	display: none;
}
.contacts_info {
	display: flex;
	justify-content: space-between;
}
.contacts {
	margin: 0;
}
.crumbs,
.crumbs ul {
	display: flex;
	list-style: none;
	font-size: 14px;
	line-height: 16px;
}
.crumbs li {
	padding: 20px 15px 0 0;
}
.crumbs a {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #aebeb5;
}
.crumbs a:hover {
	color: #ffbc9e;
}
.contacts span {
	font-size: 14px;
	line-height: 16px;
}
.contacts a {
	text-decoration: none;
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
	color: #fff;
}
.shop_list {
	width: 1143px;
}
.shop_list ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}
.shop_list_item{
	width: 267px;
	margin-bottom: 40px;
	border-radius: 5px;
}
.shop_list_item a{
	text-decoration: none;
	color: #fff;
}
.shop_list_item:hover {
	box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 255, 255, 0.2);
}
.shop_list_item h3 {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	text-align: center;
	border-bottom: 1px solid #aebeb5;
}
.shop_list_price {
	font-size: 45px;
	line-height: 45px;
}
.shop_list_weight {
	font-size: 30px;
	line-height: 45px;
}

/*Footer*/

footer {
	display: flex;
	justify-content: space-between;
	padding: 15px;
}
footer ul {
	list-style: none;
}
footer a {
	font-size: 13px;
	line-height: 18px;
	text-decoration: none;
	border-bottom: 1px solid #9db1a5;
	color: #fff;
}
.social {
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
}
.social li {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 5px;
	border-radius: 50px;
	width: 40px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.2);
}
.social a {
	height: 32px;
	border-bottom: none;
	fill: #fff;
}
.social a:hover {
	fill: #ffbc9e;
	color: #ffbc9e;
}
.footer_about {
	display: flex;
	flex-wrap: wrap;
	width: 365px;
	line-height: 16px;
}
.footer_about li {
	width: 50%;
}
.footer_about a {
	fill: #fff;
}
.footer_about a:hover {
	fill: #ffbc9e;
	color: #ffbc9e;
}
.about_for {
	font-weight: 700;
}
.footer_made {
	font-size: 12px;
}
.footer_made p {
	margin: 0;
}
.footer_made a:hover {
	color: #ffbc9e;
}
.modal {
	display: none;
}